@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .icons {
    @apply w-8 h-8 text-[#ddd];
  }
  .inputs {
    @apply bg-[#232428] rounded-full mx-3 p-3 px-5;
  }
}

body {
  background-color: #1c1c1f;
}

audio::-webkit-media-controls-panel {
  background-color: #ddd;
}

input[type='file'] {
  display: none;
}

.darken {
  mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.4) 20%,
    rgba(0, 0, 0, 0.9) 100%
  );
  -webkit-mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.7) 25%,
    rgba(0, 0, 0, 0.9) 100%
  );
}
